.wholeArea {
    display: flex;
    margin-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    line-height: 24px;
    width: auto;
    color: #939da5;
    font-family: Cascadia Code Web,Menlo,Monaco,Consolas,Courier New;
    overflow-x: auto;
}

.copilotTextBlack, .copilotTextWhite {
    padding-top: 3px;
    padding-bottom: 3px;
}

.copilotTextBlack {
    background-color: #204062;
}

.copilotTextWhite {
    background-color: #d4ebff;
}

.copilotLeftBorder {
    border: solid 0 #69b9ff;
    border-left-width: 2px;
    position: relative;
    left: -2px;
}

.textArea {
    width: 909.54px;
    white-space: pre;
}

.numArea {
    font-family: Cascadia Code Web,Menlo,Monaco,Consolas,Courier New;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    width: 30px;
    margin-right: 10px;
}

.lineStyle {
    text-align: right;
}