.editor {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 960px;
}

.replayButtonDiv {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
}

.copilotTagDiv {
    position: relative;
    left: 43px;
    height: 64px;
    width: 2px;
    margin-left: 12px;
    bottom: 141px;
}

.copilotTagText {
    padding: 7px;
    position: relative;
    background-color: #69b9ff;
    top: 100%;
    height: fit-content;
    width: fit-content;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: solid 0 transparent;
    border-radius: 6px;
    border-top-left-radius: 0px;
}

.copilotTagSvg {
    position: relative;
    top: 100%;
    padding-right: 4.8px;
    padding-top: 2px;
}

.replayButtonWhite, .replayButtonBlack {
    display: flex;
    justify-items: center;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    line-height: 0;
    height: 0px;
    padding: 16px 16px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    margin-top: 20px;
}

.replayButtonBlack {
    filter: invert();
}

.replayButtonWhite:active, .replayButtonBlack:active {
    background-color:rgba(192,192,192,0.3);
}

.replaySvg {
    position: relative;
    bottom: 7px;
    height: fit-content;
    margin-right: 8px;
}

.borderRound {
    border-radius: 12px;
    border: solid 1px #000;
}

.borderSquare {
    border: solid 1px #000;
    border-bottom-width: 0;
}

.whiteTheme {
    background-color: white;
    border-color: #eef1f4;
}

.blackTheme {
    background-color: #232a2f;    
}

.whiteTabs, .blackTabs {
    display: flex;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: solid 0px #000;
    border-bottom-width: 1px;
    margin-bottom: -1px;
}

.blackTabs {
    background-color: #1a2023;
}

.whiteTabs {
    background-color: #f7f9fc;
    border-color:#eef1f4;
}

.buttonLight, .buttonDark {
    padding: 11.2px 16px 8px 16px;
    margin: 0;
    background-color: transparent;
    height: 43.2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: -1px;
}

.buttonLight {
    border: 0px solid #eef1f4;
    border-right-width: 1.5px;
    border-color:#eef1f4;
    color: #999999;
}

.buttonDark {
    border: 0px solid #000;
    border-right-width: 1.5px;
    color: #565e63;
}

.buttonLight:focus {
    color: #000;
    background-color: white;
}

.buttonDark:focus {
    background-color: #232a2f;
    border-bottom-color: #232a2f;
    color: #939da5;
}

.sideborders {
    border-top-left-radius: 12px;
}

