.editorArea {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 80px;
}

.editorWindow {
    border-radius: 4px;
    border: 1px solid #eef1f4;
}

.editorMacBar {
    align-items: center;
    height: 11px;
    width: 100%;
    display: flex;
    padding: 4px 12px;
    gap: 5px;
}

.redCircle, .yellowCircle, .greenCircle {
    height: 11px;
    width: 11px;
    border-radius: 10000px;
}

.redCircle {
    background-color: #ff605c
}

.yellowCircle {
    background-color: #ffbd44;
}

.greenCircle {
    background-color: #00ca4e;
}

.editorMacBarText {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.editorTextArea {
    display: flex;
    border: 0px solid #eef1f4;
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: fit-content;

}

.editorSidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #f7f9fc;
    padding: 9.6px 12px;
    border: 0px solid #eef1f4;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.editorSidebarTop {
    position: relative;
    height: 100%;
    top: 0px;
}

.editorSidebarBottom {
    position: relative;
    bottom: 0px;
}

.editorSidebarSvgTop, .editorSidebarSvgBot, .editorSidebarSvg {
    height: 20px;
    width: 20px;
    filter: invert(0.6);
}

.editorSidebarSvgTop {
    margin-bottom: 20px;
}

.editorSidebarSvgBot {
    margin-top: 20px;
}

.editorEditorDiv {
    min-width: 0;
    height: fit-content;
}

.editorBottomBar {
    display: flex;
    background-color: #f7f9fc;
    height: 20px;
    width: 100%;
}

.editorBottomBarContent {
    display: flex;
    padding: 0 8px;
    align-items: center;
    width: fit-content;
    flex-shrink: 0;
    line-height: 16px;
    font-size: 14px;
    flex: 1 1 0%;
}

.editorBottomBarLocator {
    padding: 0 8px;
    line-height: 16px;
    font-size: 14px;
}

.editorBottomBarSvgDiv {
    margin-right: 6.4px;
    margin-top: -4px;
    height: 12px;
    width: 12px;
}

.editorBottomBarSvg {
    position: relative;
    height: 16px;
    width: 16px;
}

.editorBottomBarCopilot {
    align-items: center;
    height: 20px;
    width: 16px;
}

.editorBottomBarCopilotSvg {
    align-items: center;
}

.multipleChoicesDiv {
    position: relative;
    display: inline-flex;
    border: 1px solid rgba(0,0,0,0.1);
    border-width: 1px;
    border-radius: 6px;
    left: 32px;
    top: 24px;
    align-items: center;
    background-color: white;
    padding-left: 4px;
    padding-right: 2px;
}

.multipleChoicesButton {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    color:#086de6;
    background-color: white;
    border: 0;
    font-size: 16px;
    /* line-height: ; */
    cursor: pointer;
}

.multipleChoicesDivider {
    height: 16px;
    width: 1px;
    background-color: rgba(0,0,0,0.4);
}

.multipleChoicesChar {
    font-size: 10px;
    color:rgba(0,0,0,0.4);
    padding: 4px 8px;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
}

.hideWhenSmall {

}

@media only screen and (max-width: 750px) {
    .hideWhenSmall {display: none;}
    
}