.buttonLight, .buttonDark {
    padding: 11.2px 16px 8px 16px;
    margin: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 16px;
    cursor: pointer;
}

.buttonLight {
    border: 0px solid #eef1f4;
    border-right-width: 1.5px;
    border-color:#eef1f4;
    color: #999999;
}



.buttonDark {
    border: 0px solid #000;
    border-right-width: 1.5px;
    color: #565e63;
}

.buttonLight:focus {
    color: #000;
    background-color: white;
}

.buttonDark:focus {
    background-color: #232a2f;
    color: #939da5;
}

.sideborders {
    border-top-left-radius: 12px;
}

.textDark {
    position: relative;
    bottom: 0;
}

.svgLight {
    filter: invert(0.6);
}

.svgDark {
    filter: invert(50%);
}

.divClass {
    width: fit-content;
    height: fit-content;    
    padding-right: 8px;
    padding-top: 4px;
}