.textDark {
    position: relative;
    bottom: 0;
}

.svgLight {
    filter: invert(0.6);
}

.svgDark {
    filter: invert(50%);
}

.divClass {
    width: fit-content;
    height: fit-content;    
    padding-right: 8px;
    padding-top: 4px;
}