.buttonLight, .buttonDark {
    padding: 10px 20px 10px 20px;
    width: fit-content;
    border-radius: 6px;
    border: solid 1px #4f565e;
    cursor: pointer;
    align-items: center;
}

.buttonLight {
    margin: 0 auto;
    color: black;
    background-color: white;
}

.imgDark {
    filter: invert();
}

.imgDark, .imgLight {
    position: relative;
    top: 2px;
    transition: transform .2s;
    transform: translateX(0);
    height: 16px;
    width: 16px;
}