.buttonLight, .buttonDark {
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    border-radius: 6px;
    border: solid 1px #4f565e;
    cursor: pointer;
}

.a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonLight {
    margin: 0 auto;
    color: black;
    background-color: white;
}

.imgDark {
    filter: invert();
}

.imgLight, .imgDark {
    position: relative;
    margin: -4px 0;
    transition: transform .2s;
    text-align: center;
    transform: translateX(0);
    width: 16px;
    height: 16px;
}

.imgStem {
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    transition: stroke-dashoffset .2s;
}

@media only screen and (max-width: 530px) {
    .buttonLight { width: 85%; }
}

@media only screen and (max-width: 338px) {
    .buttonDark { display: none; }
}