.sectionArea {
    max-width: 1280px;
    padding: 96px 16px;
    margin: 0 auto;
}

.firstSectionTitle {
    text-align: center;
    margin: 0 auto;
    height: 180px;
}

.cursorBlinking{
    position: relative;
    top: auto;
    bottom: auto;
    width: 4px;
    height: 100%;
    margin-right: -4px;
    margin-bottom: -12px;
    margin-top: 4px;
    background-color: rgb(47,54,61);
    z-index: 30;
    display: inline-block;
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText{
0%{     background-color: #000;  }
49%{    background-color: #000; }
60%{    background-color: transparent; }
99%{    background-color:transparent;  }
100%{   background-color: #000;    }
}

.lightgrey {
    color: #949da7;
}

.firstSectionSubtitle {
    font-size: 21.5px;
    text-align: center;
    color: rgb(106,115,125);
    max-width: 1160px;
    margin: 0 auto;
}

.firstSectionH2 {
    position: relative;
    top: 0px;
    z-index: 1;
    height: 64px;
    font-weight: 800;
    padding-top: 80px;
    margin-top: 32px;
    margin-bottom: 16px;
    color: #24292f;
    letter-spacing: -2px;
    font-size: 64px;
    line-height: 64px;
}

.bigTitleDiv {
    max-width: 768px;
    margin-top: 64px;
}

.bigTitle {
    font-size: 34px;
    line-height: 42px;
    font-weight: 500;
}

.underline {
    width: 64px;
    height: 4px;
    background-color: #1f2937;
    margin-top: 24px;
}

.tripleEditorWhole {
    display: flex;
    flex-direction: column;
    row-gap: 160px;
    margin: 80px 0;
}

.thirdTextDiv {
    /* h-full flex items-center order-1 md:order-1 md:col-span-4 */
    gap: 80px;
    display: flex;
    height: 100%;
    align-items: center;
}

.thirdText {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #707a84;
}

.thirdTextTitle {
    color: #24292f;
}

.FirstSectionMCText {
    margin: 24px auto 32px auto;
    text-align: center;
    align-items: center;
    max-width: 576px;
    height: 100%;
}

.autocompleteSpan {
    display: inline-block;
    white-space: nowrap;
    height: 77px;
}

.middleDiv {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 380px) {
    .firstSectionH2 { line-height: 36px; font-size: 32px;}
    .firstSectionSubtitle { line-height: 24px; font-size: 20px;}
    .autocompleteSpan {height: 40px;}
    .middleDiv {flex-direction: column;}
    .thirdTextDiv {flex-direction: column; }
    .thirdText{ line-height: 26px; font-size: 22px;}
}
