.faqSection {
    padding: 144px 0;
}

.faqDiv {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 16px;   
}

.faqTitle {
    color: black;
    font-weight: 800;
    font-size: 69px;
    line-height: 69px;
}

.faqButtonList {
    top: 16px;
    width: 168px;
    margin-right: 48px;
}

.faqButtons {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 16px;
}

.faqButton {
    background-color: #f6f8fa;
    width: 100%;
    color: #24292f;
    border-color: rgba(53,72,91,.15);
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    align-items: center;
    font-size: 20px;
    line-height: 23px;
    font-weight: 600;
    padding: 16px 24px;
}

.faqAnswers {
    width: 100%;
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.faqAnswerTitle {
    padding: 12px 24px;
    margin: -12px -24px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}   

.faqAnswerDesc {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #6a737d;
    text-align: left;
}

.GitHubCopilotTwitter {
    color: black;
}

.faqWhole {
    display: flex;
}

.faqSelectDiv {
    display: none;
    margin-bottom: 32px;
}

.faqSelect {
    background-color: white;
    text-align: left;
    border: solid 1px black;
    line-height: 20px;
    font-size: 16px;
    padding: 8px 40px 8px 12px;
}

@media only screen and (max-width: 1020px){
    .faqAnswers {display: flex; flex-direction: column; width: 97%;}
    .faqTitle {line-height: 52px; font-size: 48px;}
}

@media only screen and (max-width: 770px) {
    .faqTitle {line-height: 36px; font-size: 32px;}
    .faqWhole {flex-direction: column;}
    .faqButtonList {display: none;}
    .faqSelectDiv {display: block;}
}
