.introductionBackground {
  color: white;
  width: 100%;
  background-color: rgba(27,31,36,1);
  background-image: url('/topbackground.png');
  padding-bottom: 192px;
}

.introduction {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.bigTitle {
  color: white;
  font-weight: 800;
  font-size: 100px;
  text-align: center;
  margin-bottom: 0;
}

.smallSubtitle {
  color: rgba(149,157,165, 1);
  font-weight: 500;
  text-align: center;
  letter-spacing: normal;
}

.introWhiteButton {
  margin-bottom: 40px;
  text-align: center;
}

.header {
  padding-top: 3px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 90px;
}

.aiCredits {
  margin: 0 auto;
  color: rgba(87,96,106);
  margin-top: 32px;
  text-align: center;
}

.openAI {
  filter: invert(0);
  margin-top: 8px;
  height: 24px;
}

.threeDescription {
  margin-top: 64px;
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(3,minmax(0,1fr));
}

.threeDescSvg {
  width: 28px;
  margin-bottom: 8px;
}

.threeDescTitle {
  height: fit-content;
  font-weight: 600;
  margin-bottom: 8px;
}

.threeDescH3 {
  margin: 0 0 0 0;
}

.threeDescText {
  color: rgba(110,118,129);
  font-size: 17.5px;
  line-height: 22px;
}

.aiDescription {
  margin: 0 auto;
  margin-top: 16px;
  color: rgba(110,118,129);
}

.aiDesc {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 27px;
  line-height: 30px;
}

.bigTag {
    background-color: #f3ec78;
    background-image: linear-gradient(#79c0ff, #7fd9dc);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    border: solid 2px #84edc1;
}

.introductionLogo {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 180px;
  height: 2.75rem;
  display: flex;
}

@media only screen and (max-width: 750px) {
  .threeDescription {  grid-template-columns: repeat(1,minmax(0,1fr)) }
}

@media only screen and (max-width: 530px) {
  .bigTitle {font-size: 42px; line-height: 46px;}
  .smallSubtitle {font-size: 20px; line-height: 24px;} 
}