.thirdSection {
    padding-top: 96px;
}

.thirdSectionHiwDiv {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 1280px;
}

.thirdSectionHiw {
    text-align: center;
    margin-bottom: 48px;
}

.thirdSectionHiwText {
    font-weight: 800;
    font-size: 69px;
    letter-spacing: -0.48px;
    color: #24292e;
}

.thirdSectionHiwImage {
    box-shadow: 0 100px 80px rgba(0,0,0,.0174624),0 41.7776px 33.4221px rgba(0,0,0,.0235573),0 22.3363px 17.869px rgba(0,0,0,.0282784),0 12.5216px 10.0172px rgba(0,0,0,.0339075),0 6.6501px 5.32008px rgba(0,0,0,.04317),0 2.76726px 2.21381px rgba(0,0,0,.07);
    width: 75%;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 48px;
    overflow: hidden;
}

.thirdSectionHiwImg {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 770px) {
    .thirdSectionHiwText {line-height: 52px; font-size: 48px;}
}

@media only screen and (max-width: 770px) {
    .thirdSectionHiwText {line-height: 36px; font-size: 32px;}
    .thirdSectionHiwImage { margin: 0; width: 100%;}
}

